html, body { height:100% }

body {
  display:flex;
  flex-direction:column
}

header {
  border-bottom:1px dotted #000;
  flex:0 0 auto
}

header div {
  margin:0 auto;
  max-width:50%;
  text-align:center
}

header img {
  float:left
}

main {
  flex:1 1 auto;
  position:relative;
  overflow:auto
}
