html, body { height: 100% }

body {
  display: flex;
  flex-direction: column
}

header {
  flex: 0 0 auto;
  border-bottom: 1px dotted #000}

header img {
  float: left;
  margin-right: 35px
}

main {
  flex: 1 1 auto;
  position: relative;
  overflow: auto
}
